/*========================================RESET============================================*/
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html,
body {
    position: relative;
}

footer {
    position: absolute;
    width: 100%;
}

#logo_navbar {
    width: 250px;
    height: auto;
}

main {
    overflow: auto;
    min-height: calc(100vh - 99.22px - 188px);
}

#modal_close_icon {
    width: 60px;
    height: 60px;
}
/*========================================RESET============================================*/

/*========================================HELPERS==========================================*/
.bg-pending{
    background-color: #ffebe6;
}

.bg-aproved{
    background-color: #e6f7ff;
}

.bg-discharge{
    background-color: #daf7e0;
}

.bg-button{
    background-color: #ffd400;
}

.cursor-pointer{
    cursor: pointer;
}

/* AUTOCOMPLETE HOVER */
.autocomplete:hover{
    background-color: #424242;
    color: #fff;
    cursor: pointer;
}
/* AUTOCOMPLETE HOVER */

/* SCROLLBAR */
/* Let's get this party started */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #dddddd;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #dddddd;
}
/* SCROLLBAR */
/*========================================HELPERS==========================================*/

.bg-cover {
    background-attachment: static;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.total_vh{
    height: 100vh;
}

.img-autocomplete{
    height:30px;
    width:auto;
}
